#drop_zone {
  border: 5px dashed rgb(107, 107, 107);
  border-radius: 10px;
  width: 200px;
  height: 100px;
  justify-content: center;
}

.dragover {
  /* animation: pulse 5s infinite; */
  background-color: lightgrey;
}

@keyframes pulse {
  0% {
    background-color: white;
  }

  50% {
    background-color: lightblue;
  }

  100% {
    background-color: white;
  }
}